<h2 class="block">{{ .Title }}</h2>

<div class="cards">
  {{ range first 6 .Paginator.Pages }}
    <div class="card{{ if and (ge ($.Param "columns") 1) (le ($.Param "columns") 3) }} card--{{ $.Param "columns" }}col{{ else }} card--2col{{ end }}">

      <div class="card__box block">
        {{- partial "entry/featured.html" (dict "page" . "link" .RelPermalink) }}
        <h1 class="entry__title title-excerpt"><a class="entry__title-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        {{- partial "entry/meta.html" (dict "page" . "class" "tal") }}
      </div>

    </div>
  {{ end }}
  <a class="cards__more-link tar" href="{{ .Permalink }}">さらに見る</a>
</div>
