{{ define "main" }}
	<main class="main">
		{{- if or .Title .Content }}
		<div class="page block">
			{{ with .Title }}<h1 class="page__title">{{ . }}</h1>{{ end }}
			{{ with .Content }}<div class="page__content{{ if not $.Title }} page__content--notitle{{ end }}">{{ . }}</div>{{ end }}
		</div>
		{{- end }}

      {{ range (where .Pages "Section" "histudy") }}
        {{ .Render "listforhome" }}
      {{ end }}
      {{ range (where .Pages "Section" "kakogawa_infra") }}
        {{ .Render "listforhome" }}
      {{ end }}
	</main>
{{ end }}