---
title: 姫路IT系勉強会 {{ '%Y.%m' | strftime(item.publishedAt / 1000) }}
date: {{ '%Y-%m-%d' | strftime(item.lastChangedAt / 1000) }}
categories:
  - 開催履歴
  - meeting-log
tags:
  - 姫路IT系勉強会
---
{{- meeting_log }}
